{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/companies/update/{{company.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Company Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="name" required maxlength="100" value="{{ company.name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Company Parent:</label>  
    <div class="col-sm-4">  
        <input type="text" name="parent" id="parent_id" required maxlength="254" value="{{ company.parent }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  