{% load static %}
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Company Records</title>  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Company ID</th>  
        <th>Company Name</th>  
        <th>Company Parent ID</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for company in companies %}  
    <tr>  
        <td>{{ company.id }}</td>  
        <td>{{ company.name }}</td>  
        <td>{{ company.parent}}</td>   
        <td>  
            <a href="/companies/edit/{{ company.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/companies/delete/{{ company.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/companies/company" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>